@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

.navbar-brand img{
    max-width: 92.5px;
  }
  .navbar{
    background-image: linear-gradient(180deg,rgba(0,0,0,.7) 10%,transparent);
  }
  .navbar-nav .nav-link{
    color: #e5e5e5;
  }
  .dropdown-toggle.nav-link{
    color: #fff;
  }
  .navbar-nav .nav-link.active{
    color: #fff;
    font-weight: 700;
  }
  .navbar .dropdown-toggle.nav-link>img{
    width: 50px;
  }
  .bottom-shadow{
      background-color: transparent;
      background-image: linear-gradient(180deg,hsla(0,0%,8%,0) 0,hsla(0,0%,8%,.15) 15%,hsla(0,0%,8%,.35) 29%,hsla(0,0%,8%,.58) 44%,#141414 68%,#141414);
      background-position: 0 top;
      background-repeat: repeat-x;
      background-size: 100% 100%;
      bottom: -1px;
      height: 14.7vw;
      opacity: 1;
      top: auto;
      width: 100%;
      left: 0;
      position: absolute;
      right: 0;
      z-index: 8;
  }

  .left-shadow{
    background: linear-gradient(77deg,rgba(0,0,0,.6),transparent 85%);
    bottom: 0;
    left: 0;
    opacity: 0.75;
    position: absolute;
    right: 26.09%;
    top: 0;
    transition: opacity .5s;
  }
  
  .header .details{
    z-index: 100;
  }

  .wrapper{
    background-color: #141414;
  }

.movie-row{
  overflow-y: scroll;
}